@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using BlazorApp5.Components.Layout

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>ไม่พบหน้าที่คุณต้องการ</p>
        </LayoutView>
    </NotFound>
</Router>
